@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-size: 62.5%;
  --ff-inter: "Inter", serif;

  --bg-primary: #F4F5FB;
  --bg-secondary: #FFFFFF;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  --title: 700 2.4rem/1.5 var(--ff-inter);
  --label: 600 1.6rem/1.25 var(--ff-inter);
  --paragraph: 500 1.6rem/1.25 var(--ff-inter);
  --link: 500 1.4rem var(--ff-inter)
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-inter);
}

#app {
  margin: 0 auto;
  max-width: 69.1rem;
  padding: 2.5rem 3.2rem;
}